
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" style="color: #ff1616!important;">Registration</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <form method="post" action="@Url.Action("SignUp", "User")"  style="border-top-color: rgb(0,0,0); ">
                    <div class="form-group"><label for="name">Name</label><input class="form-control item" type="text" id="name" name="name"></div>
                    <div class="form-group"><label for="surname">Surname</label><input class="form-control item" type="text" id="surname" name="surname"></div>
                    <div class="form-group"><label for="email">Email</label><input class="form-control item" name="email" type="email" id="email"></div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control item" name="password" type="password" id="password"></div>
                    <button class="btn btn-primary btn-block" type="submit" style="background: rgb(255,22,22);">Sign Up</button>
                </form>
            </div>
        </section>
    </main>